/*
   Home (page)
*/

#main {
	position: relative;
}

#subPage #header {
	height: 195px;
}

/* default content */

.defaultContent {
	padding-left: 5px;
	padding-top: 20px;
}

	/* call to action (block) */

	.callToAction {
		padding-bottom: 48px;
		border-bottom: 1px solid #d8d8d8;
		margin-bottom: 36px;
	}

		.callToAction:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.ie6 .callToAction, .ie7 .callToAction { zoom: 1; }

		#onePage .callToAction {
			border-bottom: none;
			padding-bottom: 24px;
			margin-bottom: 0;
		}

		.callToAction h1,
		.callToAction h2,
		.callToAction h3 {
			font-family: "proxima-nova-n9", "proxima-nova", Verdana, Helvetica, Arial, sans-serif;
			font-weight: 600;
			font-size: 30px;
			text-transform: uppercase;
			color: #000;
			float: left;
			padding: 12px 0 0 0;
			font-weight: 900;
		}

			.ie9 .callToAction h1,
			.ie9 .callToAction h2,
			.ie9 .callToAction h3 {
				font-family: "proxima-nova", Verdana, Helvetica, Arial, sans-serif;
			}
			

			.callToAction h3 span {
				color: #6caddf;
			}

			.callToAction p {
				float: right;
				padding-bottom: 0;
			}

			.callToAction a {
				background: #6caddf url('../../images/icon_ask.png') no-repeat;
				padding: 14px 30px 14px 105px;
				background-position: -10px 0;
				color: #e8f5ff;
				border-radius: 10px; /* todo */
				border: 3px solid #5c93be;
				font-weight: 700;
				float: right;
			}

				#onePage .callToAction a {
					background: #6caddf url('../../images/icon_calender.png') no-repeat;
					background-position: -5px 0;
				}

				.callToAction a:hover {
					background: #65a6d8 url('../../images/icon_ask.png') no-repeat;
					background-position: -5px 0;
					color: #fff;
				}

				#onePage .callToAction a:hover {
					background: #6caddf url('../../images/icon_calender.png') no-repeat;
					background-position: 0px 0;
					color: #fff;
				}


	/* activity overview (block) */

		#activityContent {
			padding-bottom: 24px;
		}

		a.all {
		background: #999999;
		border: 1px solid #898989;
		-webkit-border-radius: 5px;
		   -moz-border-radius: 5px;
		        border-radius: 5px;
		display: block;
		padding: 3px 8px;
		color: #fff;
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		}

		a:hover.all {
			background: #6c6c6c;
		}

		a.subAll {
		background: #6aaadc;
		border: 1px solid #69a9da;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
		        border-radius: 3px;
		display: block;
		padding: 3px 8px;
		color: #fff;
		float: right;
		font-size: 11px;
		font-weight: 400 !important;
		text-transform: none;
		}

		a.subAll:hover {
			background: #5A95C3;
		}

		#blogArticles li {
		   border-bottom: 1px solid #d8d8d8;
		   padding: 10px 0 12px 0;
			background: none;
		}

		/* blog articles */

		#blogArticles, #events {
			width: 440px;
			padding-bottom: 12px;
		}

			#home #blogArticles { float: right; }
			
			#blogArticles h2 {
				font-size: 20px;
				padding-bottom: 24px;
				font-weight: 700;
			}

			#blogArticles h2 a:hover span {
				color: #5A95C3;
			}

			#blogArticles h3 {
				font-family: Verdana, Helvetica, Arial, sans-serif;
				font-size: 14px;
				padding: 0 0 8px 0;
			}

			#blogArticles h3 a {
				border-bottom: none;
			}

		/* breadcrumb */

		#breadcrumb {
			padding-bottom: 24px;
		}

		#breadcrumb:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.ie6 #breadcrumb, .ie7 #breadcrumb { zoom: 1; }

		#breadcrumb li {
			float: left;
			font-size: 11px;
		}

		#breadcrumb li.arrow {
			background: url('../../images/icon_breadcrumb.png') no-repeat right center;
			padding-right: 12px;
			margin-right: 8px;
		}

		#breadcrumb li a {
			text-transform: uppercase;
			border-bottom: none;
		}

		#breadcrumb li a:hover {
			border-bottom: 1px solid #6caddf;
		}

		#breadcrumb span {
			color: #666666;
		}

	#multiColumn div {
		width: 260px;
		padding: 25px 20px 0 20px;
		float: left;
		position: relative;
	}

	/* headings in subpages */

	#subPage #logo h1 {
		padding: 0;
	}

	/* 3-col layout */

	#columns:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 #columns, .ie7 #columns { zoom: 1; }

	#columnLeft {
		float: left;
		width: 140px;
	}

		#subpages {
			width: 160px;
			border: 1px solid #d8d8d8;
		}

		#subpages li {
			border-bottom: 1px solid #d8d8d8;
		}

		#subpages li:last-child {
			border-bottom: none;
		}

			#subpages li a {
				color: #666;
				font-size: 12px;
				width: 140px;
				display: block;
				background: #ffffff;
				background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f5 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f5));
				background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f5 100%);
				background: -o-linear-gradient(top, #ffffff 0%,#f4f4f5 100%);
				background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f5 100%);
				background: linear-gradient(top, #ffffff 0%,#f4f4f5 100%);
				padding: 10px;
				border-bottom: none;
				line-height: 1.2;
			}

			#subpages li a:hover {
				border-bottom: none;
				background: #6caddf;
				color: #fff;
			}

				#subpages li.selected a {
					background: #6caae2;
					color: #fff;
				}

			#columnMainAlt {
				width: 785px;
				display: block;
				padding-left: 30px;
				float: left;
			}

			/* right sidebar */

			#columnRight {
				width: 265px;
				float: right;
			}

			#columnRight a.all {
				margin-left: 0 !important;
			}

			span.date {
				text-transform: uppercase;
				color: #666;
				font-size: 11px;
				display: block;
				padding: 5px 0;
			}

			/* side widgets */

			.navBlock,
			.navBlockGray,
			.navBlockWhite,
			.blogWidget,
			.casesWidget,
			.eventListIndex {
				padding: 18px 18px 6px 18px;
			}

				.navBlock h3,
				.navBlockWhite h3,
				.blogWidget h3,
				.casesWidget h3,
				.eventListIndex h3,
				.navBlockGray h3 {
					color: #222;
				}

				.navBlock h3,
				.navBlockGray h3,
				.navBlockWhite h3,
				.blogWidget h3,
				.navBlock ul,
				.navBlockGray ul,
				.navBlockWhite ul,
				.blogWidget ul,
				.casesWidget ul {
					padding-bottom: 12px;
				}

					.defaultContent ul li, 
					.navBlock ul li, 
					.navBlockGray ul li, 
					.navBlockWhite ul li { 
						background: url('../../images/ic_arrow_trans.png') no-repeat 0 7px; 
						padding-left: 18px; 
						padding-bottom: 6px; 
					}

				/* grey */

				.navBlockGray { 
					background: #f4f4f5;
				}

				/* dark blue */

			.navBlock { background: #6caddf; color: #FFF }

				.navBlock h2,
				.navBlock h3,
				.navBlock h4 {
					color: #fff;
				}

				.navBlock a:link,
				.navBlock a:visited {
					color: #fff;
					border-color: #97caf2;
				}

				.navBlock a:hover,
				.navBlock a:focus {
					color: #fff;
					border-color: #fff;
				}

				.navBlock a.subAll {
					border: none;
				}

				.navBlock a.subAll:link,
				.navBlock a.subAll:visited {
					background: #5887b3;
					color: #fff;
				}

				.navBlock a.subAll:hover,
				.navBlock a.subAll:active {
					background: #4a7297;
					color: #fff;
				}

				/* blogWidget */

				.blogWidget span {
					display: block;
				}

				.blogWidget ul li {
					padding: 12px 0;
					border-top: 1px solid #ccc;
					background: none;
				}


	/* blog module */

	#columnMain {
		width: 680px;
		float: left;
		padding-right: 30px;
	}

		#columnMain h1 span {
			color: #6caddf;
		}

			.indexGeneral h2 a:hover {
				color: #666;
			}

			/* item */

		.item {
			border-bottom: 1px solid #d8d8d8;
			margin-bottom: 24px;
		}

			#blogArticles .item {
				margin-bottom: 12px;
			}
			
			#blogDetail .item {
				border-bottom: none;
			}

			.item .imageHolder {
				padding-top: 6px;
				width: 165px;
				float: left;
			}

				#home .item .imageHolder { width: 90px; }

				.item .imageHolder a {
					border-bottom: none;
					width: 100%;
					height: 100%;
				}

					.item .imageHolder img {
						display: block;
						width: 165px;
						height: auto;
					}

						#home .item .imageHolder img { width: 90px; }

				.item .contentHolder {
					width: 481px;
					float: right;
				}

					#home .item .contentHolder { width: 330px; }

			/* comments */

			.commentsCounter {
				float: right;
			}

			#blogArticles .commentsCounter {
				margin-top: -15px;
			}

				.commentsCounter a {
					background: url('../../images/icon_comment_widget.png') no-repeat right -1px;
					border-bottom: none;
					padding-right: 15px;
					font-size: 11px;
				}

	/* blogDetail */

	#metaDesc {
		padding-bottom: 20px;
	}

	#metaDesc:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	.ie6 #metaDesc, .ie7 #metaDesc { zoom: 1; }

		#metaDesc li {
			padding-left: 0;
			background: none;
		}

			#metaDesc li.articleMeta { float: left; }
			#metaDesc li.commentsCounter { float: right; }

		#detailText p:first-child {
			font-size: 14px;
			line-height: 22px;
			font-weight: 100;
		}

				#columnMain span.dateSub {
					padding: 7px 0 0 0;
				}

				#blogDetail .ft { padding-bottom: 24px;}

				#blogDetail .aside {
					background: #f4f4f5;
					padding: 24px 24px 12px 24px;
					margin-bottom: 24px;
				}

				#blogDetail aside.firstAside {
					margin-right: 25px;
				}

					#blogDetail aside h3 {
						font-size: 16px;
						color: #222222;
						font-weight: 700;
					}

					#blogDetail aside span {
						color: #6caddf;
					}

					#blogDetail aside li {
						font-weight: 300;
						padding-left: 10px;
					}

					#blogDetail aside a {
						font-weight: 700;
					}

			/* comments */

			#blogComments h2 {
				font-size: 20px;
				color: #222;
				margin-top: 25px;
				padding-left: 5px;
				border-bottom: 1px solid #d8d8d8;
				margin-bottom: 15px;
				padding-bottom: 5px;
			}

				#blogComments h2 span {
					font-size: 32px;
				}

				#blogComments .comment {
					border-bottom: 1px solid #d8d8d8;
					margin-bottom: 10px;
				}

				#blogComments .comment {
					border-bottom: 1px solid #d8d8d8;
					margin-bottom: 10px;
				}

				#blogComments .comment a {
					border-bottom: none;
					font-weight: 700;
				}

				#blogComments .imageHolder {
					float: left;
				}

				#blogComments .imageHolder img {
					float: left;
					padding-right: 20px;
				}

					#blogComments .imageHolder a {
						border-bottom: none;
					}

		/* comment form */

		#blogCommentForm input#website,
		#blogCommentForm input#author,
		#blogCommentForm input#email {
			width: 55%;
		}

		.bigInput input {
			float: left;
		}

		.bigInput label {
			float: left;
			padding-top: 3px;
			padding-left: 15px;
			color: #333;
		}

		#blogCommentForm textarea {
			width: 95% !important;
		}

		.alignBlocks p.widthInput {
			width: 321px;
		}

		.alignBlocks p.widthInput input {
			width: 305px;
		}

		.alignBlocks p.widthInput:last-child label {
			margin-left: 9px;
		}

		.alignBlocks p.widthInput:last-child input {
			margin-left: 9px;
		}

		#blogCommentForm .inputSubmit {
			padding: 5px 25px;
		}

		/* blog archive detail */

		.content table {
			color: #666;
		}

		.content td,
		.content th {
			font-size: 12px;
			padding: 4px;
		}

		.content th {
			font-weight: 500;
			font-size: 18px;
			color: #222;
			font-family: "proxima-nova-n5", "proxima-nova", Verdana, Helvetica, Arial, sans-serif;
		}

			.ie9 .content th {
				font-family: "proxima-nova", Verdana, Helvetica, Arial, sans-serif;
			}

	/* search */

	#searchIndex {
		background: #f4f4f5 url('../../images/corner_center.png') no-repeat center bottom;
		padding: 24px 24px 54px 24px;
		margin: 24px 0 12px 0;
	}

		#searchIndex h2 {
			float: left;
			width: 200px;
			padding-top: 8px;
			color: #222;
			font-size: 20px;
		}

	#searchContainer {
		width: 564px;
		padding-left: 224px;
	}

		#searchResults .result {
			padding-bottom: 12px;
			margin-bottom: 12px;
			border-bottom: 1px solid #d8d8d8;
		}

		

	/* submenu */

	/*
		LEVEL ONE
	*/
	ul#profile {
		position: relative;
		}

	ul#profile a:hover,
	li#register a:hover {
		color: #6CADDF !important;
	}

	ul#profile a:active {
		color: #ffa500;
	}

	ul#profile li a {
		-webkit-transition: none;
		   -moz-transition: none;
		     -o-transition: none;
		        transition: none;
	}

	ul#profile #signIn a:first-child:hover {
		color: #6CADDF;
	}

	ul#profile li:last-child a {
		border-right: none;
		} /* Doesn't work in IE */

	ul#profile li.hover,
	ul#profile li:hover {
		color: #666; position: relative;
		}

	ul#profile li.hover a {
		color: #666;
		}

	/*
		LEVEL TWO
	*/

	ul#profile ul {
		width: 209px;
		visibility: hidden;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 9999;
		display: block;
		-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		border-right: 1px solid #d8d8d8;
		}

	ul#profile ul li {
		font-weight: normal;
		background: #e6e6e6;
		color: #000;
		float: none;
		border-left: none;
		padding: 0;
		margin: 0;
		}

	 /* IE 6 & 7 Needs Inline Block */
	ul#profile ul li a {
		color: #666;
		padding: 10px 15px 8px 15px;
		width: 179px;
		margin: 0;
		display: inline-block;
		background: #e6e6e6;
		border-bottom: 1px solid #bdbdbd;
		border-top: none;
		}

	ul#profile ul li a:before {
		content: "";
		}

	ul#profile ul li a:hover {
		background: #fff;
		}

	/* about us subpage */

	.aboutUsRow {
		border-bottom: 1px solid #d8d8d8;
	}

	.aboutUsProfile {
		float: left;
		width: 285px;
		position: relative;
		min-height: 125px;
		margin-top: 15px;
		margin-bottom: 25px;
	}

	.aboutUsContainer {
		position: relative;
		width: 570px;
		float: left;
	}

	.aboutUsFunction {
		float: right;
		width: 150px;
	}

		.aboutUsProfile img {
			float: left;
			padding-right: 15px;
			width: 90px;
			height: 125px;
		}

		.aboutUsProfile h5 {
			float: left;
			font-size: 15px;
			font-weight: 300;
			color: #222;
		}

		.aboutUsProfile p {
			display: block;
			float: left;
			width: 150px;
			color: #666;
		}

		.aboutUsRow h3 {
			font-size: 22px;
			color: #222;
			padding: 12px 0 0 0;
		}

		a.aboutUsMail {
			text-indent:-9999px;
			display: block;
			background: url('../../images/ic-mail.png') no-repeat;
			width: 15px;
			height: 15px;
			border: none;
			position: absolute;
			bottom: 15px;
			right: 20px;
		}

		a.aboutUsMail:hover {
			opacity: 0.7;
		}

		#settingsForm input.inputText,
		#registerForm input.inputText {
			font-size: 16px;
			width: 500px;
			color: #666;
		}

		.infoMessage {
			font-size: 11px !important;
			background: #FAFFBD;
			border: 1px solid #e0d394;
			display: block;
			padding: 5px;
			margin-bottom: 15px;
			width: 500px;
			color: #463c0f;
		}

		#registerForm .inner {
			float: left;
		}

		.registerRight {
			float: left;
			width: 380px;
			border-left: 1px solid #ccc;
			margin-left: 40px;
			padding-left: 40px;
		}

		.registerRight p {
			color: #333;
			font-size: 12px;
			width: 260px;
			padding-top: 15px;
		}

		.registerRight img {
			float: right;
			padding-top: 15px;
		}

		.ft ul {
			list-style: none;
		}

		.ft ul li {
			margin-left: 0;
		}
		
		p.buttons a.button,
		p.buttons inputSubmit {
			float: left;
			margin-right: 12px;
		}

		.readMoreArticle {
			font-weight: 700;
		}

		#columnSubPage {
			width: 503px;
			padding-left: 25px;
			padding-right: 25px;
			float: left;
		}

		.cke_show_borders h2 {
			font-weight: 100;
		}

		h2 strong {
			color: #66a8e2;
		}

		#contact input.inputText,
		#contact textarea {
			width: 450px;
		}

		.contactBox {
			background: #6CADDF;
			padding: 25px;
		}

			#columnRight .contactBox h2 {
				color: #fff;
			}

			#columnRight .contactBox p {
				color: #fff;
				padding-right: 20px;
				display: block;
			}

				#columnRight .contactBox p a {
					color: #fff;
					border-bottom: 1px solid #bbddf8;
				}

				#columnRight .contactBox p a:hover {
					border-bottom: 1px solid #fff;
				}

		#bottomContent h3 a {
			border-bottom: none;
			color: inherit;
		}

		#bottomContent h3 a:hover {
			color: #666;
		}

		#preFooter {
			margin-bottom: 15px;
		}

		#preFooter .newsletterBlock {
			float: left;
		}

		.ourServices li a {
			color: #666 !important;
			border-bottom: 1px solid #dedede !important;
		}

			.ourServices li a:hover {
				border-bottom: 1px solid #8d8d8d;
			}

		#toolDetail ul {
			list-style: none;
		}

			#toolDetail .inline {
				list-style: none;
			}

			.formError {
				color: #FF0E00;
				display: block;
				padding: 8px 0;
			}

		.relatedTags li a {
			border-bottom: none;
			color: #333 !important;
		}

		/* newsletter widget */

		.aside .newsletterBlock {
			padding-bottom: 12px;
		}

		.newsletterBlock:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
		.ie6 .newsletterBlock, .ie7 .newsletterBlock { zoom: 1; }

		.newsletterBlock h3 {
			float: left;
			padding: 2px 5px 0 0;
			font-weight: 700;
		}

		.newsletterBlock form {
			float: left;
			padding: 0 20px;
		}

			#subscribeIndex .newsletterBlock form,
			#unsubscribeIndex .newsletterBlock form,
			#resendActivationForm .newsletterBlock form,
			#forgotPasswordForm .newsletterBlock form {
				padding: 0;
			}

		.newsletterBlock #email {
			   -webkit-border-top-left-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			       -moz-border-radius-topleft: 3px;
			    -moz-border-radius-bottomleft: 3px;
			           border-top-left-radius: 3px;
			        border-bottom-left-radius: 3px;
					width: 210px;
		}

		.newsletterBlock form .inputSubmit {
			padding: 5px 10px;
			margin: 0 0 0 -5px;
			font-size: 11px;
			font-weight: 400;
			   -webkit-border-top-right-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			   -webkit-border-bottom-left-radius: 0;
			      -webkit-border-top-left-radius: 0;
			       -moz-border-radius-topright: 3px;
			    -moz-border-radius-bottomright: 3px;
			      -moz-border-bottom-left-radius: 0;
			         -moz-border-top-left-radius: 0;
			           border-top-right-radius: 3px;
			        border-bottom-right-radius: 3px;
			           border-bottom-left-radius: 0;
			              border-top-left-radius: 0;
		}

		/* sharebuttons */

		.shareDetail { padding-bottom: 12px; }

			.shareMenu:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
			.ie6 .shareMenu, .ie7 .shareMenu { zoom: 1; }

			ul.shareMenu, .content ul.shareMenu {
				padding-bottom: 0;
			}

			.shareMenu li, .content .shareMenu li {
				background: none;
				float: left;
				padding: 0 6px 0 0;
			}

			.shareMenu li iframe, .content .shareMenu li iframe {
				float: left;
			}
			

			/* extra cta in combo with sharebuttons */

			.btnBlock .contactBtn {
				border-bottom: 1px solid #D8D8D8;
				padding-bottom: 12px;
				margin-bottom: 12px;
			}

			.relatedFiles p {
				background: url('../../images/icon_dossier.png') no-repeat 0 12px;
				display: block;
				padding: 10px 0 0 25px;
				border-top: 1px solid #D8D8D8;
			}